.title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 15px ;
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, auto);
  grid-gap: 0px;
  width: 370px;
  border: 2px solid black;
  margin: auto;
  
}

.gridSquare {
  background: #fff;
  border: 1px solid #ccc;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  width: 40px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.provided {
  color: black;
}

.correct, .entered {
  color: blue;
}

.wrong {
  color: red;
}

.guess {
  color: tan;
}

.revealed {
  color: green;
}

.selected {
  border: 3px solid green;
  line-height: 36px;
  height: 36px;
  width: 36px;
}

.odd {
  background-color: #91a6c9;
}

.options {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
}

.option {
  font-size: 10px;
  height: 10px;
  line-height: 10px;
  margin: 0;
  padding: 1px 3px;
}


.buttons {
  margin-top: 10px;
  text-align: center;
}

.buttons > button {
  margin-right: 5px;
}
