.title {
  font-family: 'Rakkas', 'cursive';
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px ;
}

/* Main Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(9, auto);
  grid-gap: 0px;
  width: 370px;
  height: 370px;
  border: 2px solid black;
  margin: auto;
  
}

.gridSquare {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  width: 40px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  font-family: 'Times', 'sans-serif';
}

.game-over {
  line-height: 370px;
  text-align: center;
  font-family: 'Rakkas', 'cursive';
  font-size: 60px;
  font-weight: bold;
  background-color: #91a6c9;
  grid-template-columns: 1fr;
  color: white;
  transition: 2s;
}


/* Square Styles */
.provided {
  color: black;
}

.correct, .entered {
  color: blue;
}

.wrong {
  color: red;
}

.revealed {
  color: green;
}

.guess {
  color: #9ba334;
}

.selected {
  border: 3px solid green;
  line-height: 36px;
  height: 36px;
  width: 36px;
}

.odd {
  background-color: #cad1dd;
}

/* Notes (NotesSquare) component */
.notes {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
}

.note {
  font-size: 10px;
  height: 10px;
  line-height: 10px;
  width: 5px;
  margin: 0;
  padding: 1px 3px;
}

/* Timer component */
.timer-row {
	text-align: center;
	margin-bottom: 10px;
}

.timer {
	font-family: 'Roboto', 'sans-serif';
	margin-left: 10px;
	margin-right: 15px;
}

/* Buttons panel */
.buttons {
  margin-top: 15px;
  text-align: center;
}

button {
  margin-right: 10px;
  height: 32px;
  font-size: 13px;
  font-family: 'Roboto', 'sans-serif';
  border-radius: 5%;
  outline: none;
  cursor: pointer;
}

button:hover {
  background-color: #ababab;
}

button:active {
  background-color: #777777;
}

button:disabled {
  background-color: #dddddd;
  text-decoration: line-through;
  cursor: not-allowed;
}

.button-row {
  margin-top: 10px;
}

.button-category {
	font-family: 'Roboto', 'sans-serif';
	font-size: 14px;
	margin-right: 5px;
}

/* numButtons */
.complete {
  background-color: green;
  color: #eeeeee;
}

.too-many {
  background-color: red;
  color: #eeeeee;
}

/* PenMode toggle */
.radio-row {
  display: flex;
  justify-content: center;
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  color: lighten(black,40%);
  display: inline-flex;
  cursor: pointer;
  font-size: 13px;
  font-family: 'Roboto', 'sans-serif';
  padding-left: 5px;
  padding-right: 5px;
  line-height: 30px;
}

input[type=radio]:checked + label {
  color: white;
  background: grey;
  font-weight: bold;
}

label + input[type=radio] + label {
  border-left: solid 1px rgb(216, 216, 216);
}

.radio-group {
  border: solid 1px rgb(216, 216, 216);
  display: inline-block;
  overflow: hidden;
}

/* MEDIA QUERIES */
@media (max-width: 400px) {
	.grid {
		width: 95vw;
		height: 95vw;
	}
	.gridSquare {
		width: calc(95vw / 9 - 1px);
		height: calc(95vw / 9 - 1px);
		line-height: calc(95vw / 9 - 1px);
	}
	.selected {
		border: 3px solid green;
		width: calc(95vw / 9 - 5px);
		height: calc(95vw / 9 - 5px);
		line-height: calc(95vw / 9 - 5px);
	}
	.note {
		font-size: 40%;
		height: 50%;
		line-height: 50%;
		width: 12.5%;
		margin-top: 3px;
	}
	button {
		height: 25px;
	}
	label {
		line-height: 27px;
	}
	body {
		background: yellow;
	}
}

@media (max-width: 250px) {
	.gridSquare {
		font-size: calc(95vw / 14);
	}
}
